{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Sobre Mí</h2>
    <div class="row">
        <div class="col-md-4">
            <img class="masthead-avatar mb-5" src="{% static 'assets/img/avataaars.svg' %}" alt="..." />
        </div>
        <div class="col-md-8">
            <p>Hola, soy Matías. Soy un apasionado de la tecnología y el desarrollo web.</p>
            <p>Me especializo en Python y Django, y me gusta crear aplicaciones eficientes y escalables.</p>
        </div>
    </div>
</div>
{% endblock %}
